<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<servlet>
    <servlet-name>saveMember</servlet-name>
    <servlet-class>com.project.pinksingers.SaveMemberServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>loadMember</servlet-name>
	<servlet-class>com.project.pinksingers.LoadMemberServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>loadMemberList</servlet-name>
	<servlet-class>com.project.pinksingers.LoadMemberListServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>updateMember</servlet-name>
	<servlet-class>com.project.pinksingers.UpdateMemberServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>sendCreds</servlet-name>
	<servlet-class>com.project.pinksingers.SendCredentialsServlet</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>saveMember</servlet-name>
     <url-pattern>/saveMember</url-pattern>
</servlet-mapping>
<servlet-mapping>
     <servlet-name>loadMemberList</servlet-name>
     <url-pattern>/loadMemberList</url-pattern>
</servlet-mapping>
<servlet-mapping>
     <servlet-name>loadMember</servlet-name>
     <url-pattern>/loadMember</url-pattern>
</servlet-mapping>
<servlet-mapping>
     <servlet-name>updateMember</servlet-name>
     <url-pattern>/updateMember</url-pattern>
</servlet-mapping>
<servlet-mapping>
     <servlet-name>sendCreds</servlet-name>
     <url-pattern>/sendCreds</url-pattern>
</servlet-mapping>
<filter>
  <filter-name>ObjectifyFilter</filter-name>
  <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
  <filter-name>ObjectifyFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
<listener>
  <listener-class>com.project.pinksingers.OfyHelper</listener-class>
</listener>
</web-app>